@import "custom-functions";
@import "custom-mixins";
@import "bootstrap";
@import "font-awesome/font-awesome.scss";
* { padding: 0; margin: 0; }
html, body{
    min-height: 100% !important;
	-webkit-backface-visibility: hidden;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	letter-spacing: .1rem;
}
body {
	font-family: "Noto Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	margin-bottom: 0px;
	@include font-smoothing(antialiased);
	overflow:  visible;
	position: relative;-webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
	a{
		border-bottom: 1px solid rgba(0,0,0,.1);
		color: $green-light;
		transition: all ease .5s;
		&:hover {
			border-bottom: 1px solid $green-light;
			text-decoration: none;
			color: #069E87;
		}
	}
	input{
		&:focus{
			border-color:$green-light !important;
			box-shadow: 0 1px 1px rgba($green-light, 0.075) inset, 0 0 8px rgba($green-light, 0.6) !important;
			outline: 0 none !important;
		}
	}
}
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

/*************************************
	Full Panel Base Styles
*************************************/

.full-panel{
	min-height: 100vh;
	background: #fff;
	z-index:1;
	@include paddingSize(60px, 0px, 60px, 0px);
	@include clearfix();
	&.white{
		border-bottom: 1px solid rgba(#000,.06);
		border-top: 1px solid rgba(#000,.06);
	}
	&.grey{
		background:#f7f7f7;
	}
}

.arrow-anchor{
	height: auto;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	transition: all ease 1s;
	width: 100%;
	text-align: center;
	cursor: pointer;
	.fa-arrow-down{
		@include fontSize(49px);
		background: $yellow-base;
		padding: 10px 12px 6px 12px;
		border-radius: 100px;
		color: #fff;
		border-bottom: 3px solid rgba(#000,.1);
		margin-bottom: 10px;
	}
}


/********************************************
	Flex Nav Styles // jQuery.functions.js
********************************************/
.no-scroll{
	overflow:hidden;
	height:100vh;
}

#container{
	min-height: 100vh !important;
	position: relative;
	#flex-overlay{
		position: absolute;
		background: rgba(0,0,0,.7);
		width: 100%;
		height: 100%;
		z-index: 9998;
		display: none;
	}
}

.flex-expand{
	margin-left: 0% !important; 
	transition: all ease .5s;
}

.container-expand{
	transition: margin ease .5s;
}

.flex-btn {
	background: transparent !important;
	margin: 17px 0px 0px 20px;
	position: absolute !important;
	top:0px;
	left:0%;
	z-index: 9999;
	transition: margin ease .5s;
}

.flex-active{
	margin-left:41%;
	
	@media (max-width: $screen-sm-max) { 
		margin-left: 86%;
	}
	
	@media (max-width: $screen-xs-max) { 
		margin-left: 89%;
	}
}

.flex-nav{ 
	position: fixed;
	max-height: 100% !important;
	overflow: auto;
	top:0px;
	left:0px;
	width:40%;
	margin-left: -100%;
	transition: margin ease .5s;
	z-index:99;
	@media (max-width: $screen-sm-max) { 
		width:80%;
	}
	@media (max-width: $screen-xs-max) { 
		width:85% ;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
		-webkit-transform: translate(100%,0);
		-moz-transform: translate(100%,0);
		-ms-transform: translate(100%,0);
		transform: translate(100%,0);
		height: 100%;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		overflow: scroll;
	}
	.viewport{
		background: $green-darker;
		-moz-box-shadow:    inset -7px 0 20px -7px rgba(0,0,0,.5);
		-webkit-box-shadow: inset -7px 0 20px -7px rgba(0,0,0,.5);
		box-shadow: inset -7px 0 20px -7px rgba(0,0,0,.5);
		#mobile-search{
			padding: calculateRem(0px) calculateRem(65px);
			margin: calculateRem(25px) calculateRem(0px);
			width:100%;
			@media (max-width: $screen-xs-max) { 
				@include paddingSize(0px, 35px, 0px, 35px);
			}
			.form-group, .input-group{
				width:100%;
				input{
					background: #fff;
					height: calculateRem(64px);
					transition: border-color ease .5s;
					&:focus{
						border-color:$green-light;
						box-shadow: 0 1px 1px rgba($green-light, 0.075) inset, 0 0 8px rgba($green-light, 0.6);
						outline: 0 none;					
					}
				}
				.input-group-addon{
					width:calculateRem(80px);
					padding:0px;
					button{
						border:none;
						background: none;
						width:100%;
						height:100%;
					}
				}
			}
		}
		.navigation{
			padding: 0px;
		}
		h2{
			color: #fff;
			@include fontSize(40px);
			border-bottom: 1px solid rgba(0,0,0,.1);
			@include paddingSize(30px, 0px, 30px, 62px);
			margin: 0;
			@media (max-width: $screen-xs-max) { 
				font-size: calculateRem(30px);
				@include paddingSize(30px, 0px, 30px, 35px);
			}
			small{
				color: $yellow-base;
			}
		}
		.nav-items{
			@include paddingSize(0px, 35px, 0px, 35px);
			@media (max-width: $screen-xs-max) { 
				@include paddingSize(0px, 15px, 0px, 0px);
			}
		}
		ul{
			@include marginSize(0px, 0px, 0px, 35px);
			list-style-type: none;
			li{
				border-bottom:none !important;
				a{
					@include paddingSize(16px, 0px, 16px, 0px);
					@include fontSize(35px);
					display: block;
					color: #fff;
					text-decoration: none;
					-webkit-tap-highlight-color: rgba(0,0,0,0);
					border-bottom: 1px solid rgba(0,0,0,.1) !important;
					&:hover{
						color: #ccc;
					}
				}
			}
			ul{
				li{
					position: relative;
					transition: 0.5s all ease;
					a{
						@include fontSize(25px);
					}
					&:before {
						position: absolute;
						content: '';
						display: block;
						width: 0;
						height: 0;
						border-top: 3px solid transparent;
						border-bottom: 3px solid transparent;
						border-left: 3px solid $yellow-base;
						top: 18px;
						left: -22px;
						transition: 0.5s all ease;
					}
					&:hover {
						transition: 0.5s all ease;
						&:before {	
							transition: 0.5s all ease;
							left: -13px !important;
						}
					}	
				}
			}
		}
		#social-menu{
			@extend .text-center;
			@extend .clearfix;
			padding:50px 10px;
			li{
				border-bottom: none;
				display:inline;
				a{
					
					display:inline;
					border-bottom: none !important;
					@include fontSize(45px);
					@include paddingSize(0px, 40px, 0px, 40px);
					@media (max-width: $screen-xs-max){
						@include paddingSize(0px, 30px, 0px, 25px);
					}
				}
			}
		}
	}
}

/*************************************
	Hamburger X Styles
*************************************/

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	span, span:before,  span:after {
	  cursor: pointer;
	  border-radius: 1px;
	  height: 4px;
	  width: 35px;
	  background: $green-darker;
	  position: absolute;
	  display: block;
	  content: '';
	  transition: all 500ms ease-in-out;
	}
	span:before {
		top: -11px; 
	}
	span:after {
		bottom: -11px;
	}
	&.active span {
		background-color: transparent;
		&:before, &:after{
			top: 0;
			-webkit-backface-visibility: visible;	
			background: #ccc;
		}
		&:before{
			@include rotateDegree(45deg);
		}
		&:after{
			@include rotateDegree(-45deg);
		}
	}

}


/*************************************
	Header Search Parial
*************************************/
#container.search-panel{
	z-index:2;
	.flex-btn{
		position: fixed !important;
	}
}

.search-panel{
	background: url('../images/bg.jpg');
	padding: 0px;
	margin: 0px;
	header{
		position: fixed;
		z-index:1;
		background: #f7f7f7;
		height:61px;
		border-bottom: 3px solid rgba(#000, .1);
		width:100%;
		#page-header{
			@extend .container;
			#contents{
				@extend .row;
				#logo{
					@extend .col-xs-2;
					height:100px;
					width:auto;
					position: absolute;
				}
				#page-nav{
					@extend .col-xs-10;
					@extend .pull-right;
					ul{
						@extend .pull-right;
						.nav-item{
							transition: ease-in all .45s;
							&:hover{
								background: $green-darker;
								box-shadow: 4px 3px 2px rgba(0,0,0,.15);
							}
						}
						.nav-active{
							a{
								color:$green-light;
							}
						}
						li{
							display: inline-block;
							margin-left: 25px;
							a{
								color: $green-darker;
								@include fontSize(30px);
								border-bottom: 2px solid transparent;
								padding: 16px;
								&:hover{
									background: none;
									color: $green-light;
								}
							}
						}
						.sub-nav, ul{
							width: auto;
							padding: 0px;
							background: $green-darker;
							position: absolute;
							left: 0px;
							z-index: 2;
							display: none;
							margin-top: -5px;
							border-bottom: 3px solid rgba(0,0,0,.1);
							min-width: 150px;
							box-shadow: 4px 3px 2px rgba(0,0,0,.15);
							li{
								margin-left: 0px;
								width:100%;
								border-bottom: 1px solid rgba(0,0,0,.1);
								&:last-child{
									border-bottom: 0px;
								}
								&:hover{
									background: rgba(#000, .1);
								}
								a{
									width:100%;
									display:block;
									color:#ccc;
									&:hover{
										color:#fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#panel-content{
		background: url('../images/university.jpg') no-repeat center center;
		background-size: cover;
		width:100%;
		min-height:100vh;
		opacity: 1;
		top:0;
		left:0;
		#search-form{
			position: absolute;
			top: 41%;
			left: 0;
			right: 0;
			margin: 0 auto;
			transition-property: width, height, background;
			transition-duration: .05s,.3s,.2s;
			@extend .container;
			.panel-center{
				@extend .clearfix;
				@extend .col-lg-8;
				@extend .col-lg-offset-2;
				@extend .text-center;
				h1{
					background: #f7f7f7;
					margin: 0px;
					color:$green-darker;
					padding:10px 15px;
					@include fontSize(35px);
					text-align: left;
					width:103%;
					box-shadow: 6px 3px 2px rgba(0, 0, 0, 0.3);
					&:after{
						content: "";
						position: absolute;
						background: #f7f7f7;
						top: 0;
						right: -17px;
						bottom: 0;
						width: 40px;
						-webkit-transform: skew(-11deg);
						-moz-transform: skew(-11deg);
						-ms-transform: skew(-11deg);
						transform: skew(-7deg);
						box-shadow: 6px 3px 2px rgba(0, 0, 0, 0.3);
						border-radius: 10px 10px 0px 0px;
					}
				}
				.panel-form{
					padding: 30px 50px 10px 30px;
					background: rgba(255,255,255,.8);
					box-shadow: 6px 3px 2px rgba(0, 0, 0, 0.3);
					width: 101%;
					.search-select{
						background: $green-darker;
						border-bottom: 3px solid rgba(0,0,0,.2);
						color: #fff;
						min-width: 102px;
						height:47px;
					}
					.search-go{
						background: $green-darker;
						color: #fff;
						padding:0px;
						border: none;
						button{
							border: none;
							background: none;
							width: 100%;
							padding:0px 15px;
							height: 46px;
							z-index:0;
							border-bottom: 3px solid rgba(0,0,0,.2);
						}
					}
					#search-entry-box{
						width: 100%;
						#search-input{
							height: 47px;
							border-radius: 0px;
						}
						.ui-autocomplete{
							position: absolute !important;
							text-align: left;
							list-style-type: none;
							background: #fff;
							border: solid 1px rgba(#000, .1);
							border-bottom: solid 3px rgba(#000, .1);
							li{
								text-align: left;
								padding:10px 12px;
								cursor: pointer;
								&:hover {
									background: #eee;
								}
								
							}	
							.ui-state-focus{
								background: #eee;
								color:$green-light;
							}						
						}
					}
					input{
							z-index: 0 !important;
					}
					.dropdown-menu{
						padding: 0px;
						background: #f7f7f7;
						min-width: 180px;
						.divider{
							margin:0px;
							background: $green-light;
						}
						li{
							margin-left: 0px;
							width:100%;
							&:last-child{
								border-bottom: 0px;
							}
							&:hover{
								background: rgba(#000, .1);
							}
							a{
								@extend .clearfix;
								width:100%;
								display:block;
								padding:12px 15px;
								&:hover{
									color:$green-light;
									border-bottom:1px solid #ccc;
								}
							}
							.all-search{
								.fa{
									margin-left:8px;
								}
							}
							.drop-text{
								float:left;
							}
							.fa{
								float: right;
								margin-top: 3px;
							}
						}
					}
					#form-help{
						list-style-type: none;
						text-align: right;
						margin:10px 2px 0px 0px;
						li{
							display: inline;
							margin: 0px;
							padding: 0px;
							margin-left: 10px;
							a{
								color:$green-darker;
							}
						}
					}
				}
				#search-results{
					display:none;
				}
			}
		}
	}
}

#search-form.active{
	top: 0px !important;
	width: 100% !important;
	min-height: 100vh;
	background: white;
	padding-top: 120px;
	border-bottom: 1px solid rgba(#000, .1);
	position: relative !important;
	transition-duration: .01s,.3s,.2s !important;
	.panel-center{
		h1{
			display: none !important;
		}
		.panel-form{
			box-shadow: none !important;
		}
		#search-results{
			display:block !important;
			text-align: left;
			padding: 10px 30px;
		}
	}
	#search-close { 
		cursor: pointer; 
		padding: 10px 35px 16px 0px; 
		position: absolute;
		right: 27px;
		top: 90px;
	span, span:before,  span:after {
	  cursor: pointer;
	  border-radius: 1px;
	  height: 4px;
	  width: 35px;
	  background: $green-darker;
	  position: absolute;
	  display: block;
	  content: '';
	  transition: all 500ms ease-in-out;
	}
	span:before {
		top: -11px; 
	}
	span:after {
		bottom: -11px;
	}
	&.active span {
		background-color: transparent;
		&:before, &:after{
			top: 0;
			-webkit-backface-visibility: visible;	
			background: #ccc;
		}
		&:before{
			@include rotateDegree(45deg);
		}
		&:after{
			@include rotateDegree(-45deg);
		}
	}

}

}

/*************************************
	Log In Partial
*************************************/
#container.login-panel{
	background: url('../images/bg.jpg');
	padding-top: 0px;
}
.login-panel{
	header{
		#header_contain{
				@extend .container;
				@extend .text-center;
				#logo{
					width: calculateRem(144px);
					height:auto;
					margin: 0 auto;
					position: absolute;
					top:-83px;
					bottom:0;
					right:0;
					left:0;
					z-index:9997;
					transition: all ease 1s;
				}
				.top-change{
					top:0px !important;
				}
		}
	}
	#panel-content{
		margin-top: 0px;
		#log-in{
			@extend .container;
			margin-top:85px;
			margin-top:calculateRem(190px);
			.div-inner{
				@extend .clearfix;
				@extend .col-xs-12;
				@extend .col-sm-6;
				margin: 0 auto;
				padding:0px;
				background: #fff;
				float:none;
				@media (min-width: $screen-xs-min) { 
					max-width: 380px;
				}
				h1{
					background: $green-darker;
					@include border-opacity(all, solid, 1px, $green-base, $green-base, 0.1);
					@include border-opacity(bottom, solid, 0px, #000, #eee, 0.1);
					margin: 0px;
					padding: calculateRem(15px) calculateRem(45px);
					color: #fff;				
					@include fontSize(35px);
					@media (max-width: $screen-sm-max){
						@include fontSize(30px);
					}
					small{
						color:#fff;
						font-size: 50%;
					}
				}
				#form_wrap{
					@include border-opacity(all, solid, 1px, #000, #eee, 0.1);
					@include border-opacity(bottom, solid, 3px, #000, $gray-darker, 0.1 );
					padding: calculateRem(45px);
					@extend .col-sm-12;
					h3{
						margin-top: 0px;
						font-weight: 700;
					}
					input{
						background: rgba(0,0,0,.01);
						height: calculateRem(64px);
						@include border-radius(0px);
						transition: border-color ease .5s;
						&:focus{
							border-color:$green-light;
							box-shadow: 0 1px 1px rgba($green-light, 0.075) inset, 0 0 8px rgba($green-light, 0.6);
							outline: 0 none;					}
					}
					button{
						border:none;
						display: inline-block;
						background: #d0d0d0;
						font-size: 1em;
						text-align: center;
						border-bottom: none;
						padding: 7px 20px;
						@include border-radius(4px);
						@include border-opacity(bottom, solid, 3px, #000, $gray-darker, 0.1 );
						&:focus{
							box-shadow: 0 1px 1px rgba($green-light, 0.075) inset, 0 0 8px rgba($green-light, 0.6);
							outline: 0 none;
						}
					}
				}
			}
		}
	}
	#credits{
		margin-top: calculateRem(50px);
		@extend .clearfix;
		#link_wrap{
				@extend .col-lg-10;
				@extend .col-lg-offset-1;
		        @extend .container;
			#links {
		        @extend .container;
		        @extend .clearfix;
				@extend .col-xs-8;
				@extend .col-sm-4;
				@extend .col-md-4;
				@extend .col-lg-4;
				@extend .col-xs-offset-2;
				@extend .col-sm-offset-4;
				@extend .col-md-offset-4;
				@extend .col-lg-offset-4;
				@extend .text-center;
				bottom: calculateRem(-100px);
		        transition: all ease 1s;
				opacity: .1;
				.divider{
					height: 1px;
					width: 97%;
					clear: both;
					background: rgba(0, 0, 0, 0.05);
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
		
				}
				ul{
		        	@extend .clearfix;
					@extend .col-xs-12;
					@extend .col-md-10;
					@extend .col-md-offset-1;
					@extend .col-lg-8;
					@extend .col-lg-offset-2;
					list-style-type: none;
					padding-top: calculateRem(20px);
					li{
						@include marginSize(15px, 0px, 0px, 0px);
						
					}
					.copy{
						@include marginSize(22px, 0px, 0px, 0px);
						@include fontSize(18px);
					}
				}
				
		    }
		    .margin-return{
			        opacity: 1 !important;
			        bottom: calculateRem(1px) !important;
		    }
		}
	}
}


/*************************************
	Auto complete styling
*************************************/

.ui-menu .ui-menu-item a{
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}